<p id="notice"><%= notice %></p>

<h1>Users</h1>
<div id="usersTable"></div>
<%= react_component("HelloWorld", props: @hello_world_props, prerender: false) %>

<%= link_to 'New User', new_user_path %>
